<br>
<br>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">

      <h2>Confirm deletion of transaction</h2>
      <br>
      <br> ID: <%=  transaction._id %>
      <br> transactionno: <%=transaction.transactionno%>
      <br> transactiontype: <%=transaction.transactiontype%>
      <br> transactiondate: <%=transaction.transactiondate%>
      <br> transactionamount: <%=transaction.transactionamount%>
      <hr>
      
      <form method="get" action="/transaction">
        <input type="submit" value="Return to list" class="btn btn-caution" />
      </form>

      <form method="POST" action="/transaction/delete/<%= transaction._id %>">
        <input type="submit" value="Delete this item" class="btn btn-danger pull-right" />
      </form>

    </div>
  </div>
</div>