<br>
<br>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">

      <h1> Mandala Nikitha </h1>
      <h2>I am from Hyderabad,India I came to maryville to pursue my masters in Applied computer Science program. In future I would like to see myself as a good software developer and I wish at the end of the semester I passout with good grades in this course. </h2>
     <a href="https://github.com/nikithamandala"> Github</a>
      <a href="//www.linkedin.com/in/nikitha-mandala-280495179/">Linked In</a>

      <br>
      <br>
    </div>
  </div>
</div>